:root{
    --font-size: 3rem;
    --padding: 20px;
    --window-size: 500px;
    --display-size: 80%;
    --border-radius: 50px;
    --playList-size: 300px;

}

*{
    transition: width 0.2s, height 0.2s, transform 0.2s;
    margin: 0;
    padding: 0;
    text-align: center;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: var(--padding);
    margin-bottom: calc(var(--padding)*3);
    justify-content:space-between;
    background-image: linear-gradient(#468DC5,#020C26, rgb(2,12,38,0.8), #468DC5);
}

#sound{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid white;
}

.volumeBar{
    width: calc(var(--window-size)/5);
    height: 10px;
    background-color:rgb(160, 160, 160);
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    display: flex;
    flex-direction: row;
    border: 1px solid black;

}

.volume{
    width: calc(var(--window-size)/6);
    height: 100%;
    background-color:rgb(255, 0, 0);
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    display: flex;
    flex-direction: row-reverse;

}

body{
    background-color: rgba(0, 0, 0, 0.391);
    background-image: url("img/backdrop.png");
    background-repeat: repeat;
    color: white;
    padding-bottom: calc(var(--padding));
}

h1{
    font-size: var(--font-size);
    padding: var(--padding);
}

h2{
    padding: calc(var(--padding)*3);
    font-size: 2rem;
}

main{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-bottom: calc(var(--padding)*3);
}

main > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

table#infoDisplay{
    border: 1px solid azure;
    background-color: rgb(0, 0, 0, 0.5);
    table-layout: fixed;
}

th{
    border: 1px solid azure;
    height: calc(var(--font-size)*2);
}

#playList{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(rgb(154, 145, 137), rgb(0,0,0));
    border-radius: var(--border-radius);
    padding: var(--padding);
    width: 600px;
}

.scroll{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: calc(var(--playList-size) * 3 / 5);
    padding: calc(var(--padding)/2);
    background-color:rgb(195, 207, 207);
    border: 1px solid black;
}

.scroll:active{
    background-color: aqua;
}

#scrollList{
    
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 70%;

}

#scrollList{
    scroll-behavior:smooth;
}

#scrollList > div{
    width: calc(var(--playList-size) / 2);
    height: calc(var(--playList-size) * 3 / 5);
    display: inline-block;
    border-radius: var(--border-radius);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;
    color: white;
    font-size: 1rem;
    font-style: italic;
    padding: var(--padding);
    margin: var(--padding);
}

#scrollList > div:hover{
    transform: scale(1.05,1.05);
}



.play{
    width: var(--window-size);
    background-color: rgb(241, 214, 166, 0.6);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--padding);
    border-radius: calc(var(--border-radius)/2);
}

div.mini-tab{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items:flex-end;
    justify-content: space-between;
}
button.close{
    border-radius: var(--border-radius);
    border-style: none;
    background-color: transparent;
}

div.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.title > img{
    width: calc(var(--display-size));
    height: 300px;
}

.progressBar{
    background-color: whitesmoke;
    border-radius: var(--border-radius);
    height: 10px;
    width: var(--display-size);
    margin-top: 1rem;
    
    border: 1px solid black;
}
.progress{
    background-color: grey;
    border-radius: var(--border-radius);
    height: 100%;
    width: 0;
    display: flex;
    align-items: flex-end;
    justify-content:flex-end;
    overflow: hidden;
}

.progressScroll{
    width: 10px;
    height: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: var(--border-radius);
}

.videoLength{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--display-size);
    margin-bottom: 1rem;
}

.controlButton{
    background-color: beige;
    width: var(--display-size);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1200px){
    :root{
        --playList-size: 250px;
        --padding: 15px;
    }
    .title > img{
        
        height: 300px;
    }
}

@media (max-width: 1000px){
    :root{
        --playList-size: 175px;
        --padding: 10px;
    }

    main{
        flex-direction: column;
        height: 800px;
    }

    .title > img{
        height: 350px;
    }
    

}

